<template>
  <div class="outer-container">

    <!-- Text box with addTodo method -->
    <input
      type="text"
      class="todo-input"
      placeholder="What needs to be done"
      v-model="newTodo"
      @keyup.enter="addTodo"
    />

    <div
      v-for="(todo, index) in todosFiltered"
      :key="todo.id"
      class="todo-item"
    >
    <!-- Checkbox with editTodo method -->
      <div class="todo-item-left">
        <input type="checkbox" v-model="todo.completed" />
        <div
          v-if="!todo.editting"
          @dblclick="editTodo(todo)"
          class="todo-item-label"
          :class="{ completed: todo.completed }"
        >
          {{ todo.title }}
        </div>

        <!-- To cancel the edit or done doneEdit/cancelEdit -->
        <input
          v-else
          class="todo-item-edit"
          type="text"
          v-model="todo.title"
          @blur="doneEdit(todo)"
          @keyup.enter="doneEdit(todo)"
          @keyup.esc="cancelEdit(todo)"
          v-focus
        />
      </div>
      <!-- Remove button with removeTodo method -->
      <div class="remove-item" @click="removeTodo(index)">&times;</div>
    </div>

    <!-- This container will show the number of remaining tasks -->
    <div class="extra-container">
      <div>
        <label
          ><input
            type="checkbox"
            :checked="!anyRemaining"
            @change="checkAllTodos"
          />
          check All
        </label>
      </div>
      <div class="checkbox-remaining">{{ remaining }} tasks left</div>
    </div>
    <!-- Here are all the filter features -->
    <div class="extra-container">
      <div>
        <button 
        class="button-all"
        :class="{ active: filter == 'all' }" @click="filter = 'all'">
          All
        </button>
        <button
        class="button-active"
          :class="{ active: filter == 'active' }"
          @click="filter = 'active'"
        >
          Active
        </button>
        <button
        class="button-completed"
          :class="{ active: filter == 'completed' }"
          @click="filter = 'completed'"
        >
          Completed
        </button>
        <button class="clear-completed" v-if="showClearCompletedButton" @click="clearCompleted">
          Clear Completed
        </button>
      </div>
    </div>
  </div>
</template>


<script>
// These are the variables used//
export default {
  name: "todolist",
  data() {
    return {
      newTodo: "",
      idForTodo: 3,
      beforeEditCache: "",
      filter: "all",
      todos: [
        {
          id: 1,
          title: "My first task",
          completed: false,
          editting: false,
        },

        {
          id: 2,
          title: "My second task",
          completed: false,
          editting: false,
        },
      ],
    };
  },
  // Theses are variables that are created from attributes already exist, they are methods but upon calling are an attribute//
  computed: {
    remaining() {
      return this.todos.filter((todo) => !todo.completed).length;
    },
    anyRemaining() {
      return this.remaining != 0;
    },
    todosFiltered() {
      if (this.filter == "all") {
        return this.todos;
      } else if (this.filter == "active") {
        return this.todos.filter((todo) => !todo.completed);
      } else if (this.filter == "completed") {
        return this.todos.filter((todo) => todo.completed);
      }
      return this.todos;
    },
    showClearCompletedButton() {
      return this.todos.filter((todo) => todo.completed).length > 0;
    },
  },
  //Used from the vue documentation to fix focus, when double clicking to edit, there is focus. This fixes it.//
  directives: {
    focus: {
      inserted: function (el) {
        el.focus();
      },
    },
  },
  // All methods used//
  methods: {
    addTodo() {
      if (this.newTodo.trim().length == 0) {
        return;
      }

      this.todos.push({
        id: this.idForTodo,
        title: this.newTodo,
        completed: false,
      });

      this.newTodo = "";
      this.idForTodo++;
    },

    removeTodo(index) {
      this.todos.splice(index, 1);
    },

    editTodo(todo) {
      this.beforeEditCache = todo.title;
      todo.editting = true;
    },

    dontEdit(todo) {
      if (todo.title.tirm() == "") {
        todo.title = this.beforeEditCache;
      }
      todo.editting = false;
    },

    cancelEdit(todo) {
      todo.title = this.beforeEditCache;
      todo.editting = false;
    },

    checkAllTodos() {
      this.todos.forEach((todo) => (todo.completed = event.target.checked));
    },

    clearCompleted() {
      this.todos = this.todos.filter((todo) => !todo.completed);
    },
  },
};
</script>

<style>
.todo-input {
  width: 100%;
  padding: 10px 18px;
  font-size: 18px;
  margin-bottom: 16px;

  
}

.todo-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-item {
  cursor: pointer;
  margin-left: 14px;
  padding-right:10px;

}

.todo-item-left {
  display: flex;
  align-items: center;
}

.todo-item-label {
  padding: 10px;
  border: 1px solid white;
  margin-left: 12px;
}

.todo-item-edit {
  font-size: 24px;
  color: #2c3e50;
  margin-left: 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: "Avenir", Helvatica, Arial, sans-serif;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

.extra-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  padding-top: 14px;
  margin-bottom: 14px;
  padding-left:14px;
}

button {
  font-size: 14px;
  background-color: white;
  appearance: none;
}

.active {
  background: lightgreen;
}

.outer-container{
  border: 3px solid black;
}

.checkbox-remaining {
    padding-right:10px;
}

.button-all, .button-active, .button-completed, .clear-completed {
  padding:10px;
}





</style>
