<template>
  <div id="app" class="container">
    <img alt="Vue logo" src="./assets/todolistlogo.jpg" class="logo">
    <h3>Todo List App</h3>
    <todolist></todolist>
  </div>
</template>

<script>
import todolist from './components/todolist'


export default {
  name: 'App',
  components: {
    todolist,
  }
}
</script>

<style>

* {
  box-sizing: border-box;
}

.container{
  max-width: 600px;
  margin: 0 auto;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  font-size:24px;
}

.logo {
  display:block;
  margin:20px auto;
  height:200px;
}
h3 {
  text-align: center;
}

</style>
